<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Hello Spring Boot</title>
	<style>
		table {
			border-spacing: 0;
		}
		
		th {
			text-align: left;
		}
		
		th, td {
			padding: 15px;
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<h2>Accounts</h2>
	<div th:text="${message}"></div>
	<br>
	<button onclick="location.href='/register'">Add New</button>
	<br><br>
	<table style="width:20%">
		<thead>
			<tr>
				<th>No</th>
				<th>Name</th>
				<th>Role</th>
				<th colspan="2">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="dto, index: ${accounts}">
				<td th:text="${index.count}">No</td>
				<td th:text="${dto.name}">Name</td>
				<td th:text="${dto.role}">Role</td>
				<td>
					<a th:href="@{'/update/' + ${dto.id}}">Update</a>
				</td>
				<td>
					<a th:href="@{'/update/' + ${dto.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>