<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta charset="ISO-8859-1">
	<title>Register Account</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/parsley.min.js}"></script>
</head>
<body>
	<div class="container mx-auto">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6  column col-sm-offset-0 col-md-offset-2 col-lg-offset-3">
				<h2>Update Your Account </h2>
				<form id="update-form" action="/accountUpdate" th:object="${accountDTO}" method="POST" data-parsley-validate>
					
					<!-- Name --> 
			  		<div class="form-group">
			    		<label for="name">Name</label>
					    <input 	th:field="*{name}" type="text" class="form-control" 
					    		id="name" placeholder="Mr.Htet" required 
					    		data-parsley-errors-container="#invalidNameField"
					    		data-parsley-trigger-after-failure="focusout" style="width: 25% !important;">
					    <div class="text-danger" id="invalidNameField" th:text="${nameError}"></div>
			  		</div>
			  		
			  		<input type="hidden" th:field="*{id}" th:value="*{id}"/>
					
					<!-- Role -->
					<div class="form-group w-25">
				      	<label for="role">Role</label>
				      	<select th:field="*{role}" class="form-control" style="width: 25% !important;">
				        	<option th:each="role: ${roles}" th:value="${role}" th:text="${role}"></option>
				      	</select>
			    	</div>
			  		<input type="submit" id="btnSubmit" name="update" class="btn btn-primary" value="Submit" />
				</form>
			</div>
		</div>
	</div>
	<script>$('#update-form').parsley();</script>
</body>
</html>