<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Hello Spring Boot</title>
	<style>
		table {
			border-spacing: 0;
		}
		
		th {
			text-align: left;
		}
		
		th, td {
			padding: 15px;
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<h2>Accounts</h2>
	<table style="width:20%">
		<tr>
			<th>No</th>
			<th>Name</th>
		</tr>
		<tr th:each="row, rowStat: ${accounts}">
			<td th:text="${rowStat.count}">No</td>
			<td th:text="${row}">Name</td>
		</tr>
	</table>
</body>
</html>